*{
    margin: 0;
    padding: 0;
    color: #B0B0B0;
}
ul,ol{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.l{
    float: left;
}
.r{
    float:right
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}
.container_login{
    width: 1311px;
    margin: 0 auto;
    position: relative;
}
.container-fluid{
    width: 100%;
}
html{
    height: 3000px;
}